.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
            -webkit-transition-property: opacity;  
            -moz-transition-property:    opacity;
            -ms-transition-property:     opacity; 
            -o-transition-property:      opacity;
        }
        
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
            -webkit-transform: translate3d(0, 0, 0);
            -moz-transform: translate3d(0, 0, 0);
            -ms-transform: translate3d(0, 0, 0);
            -o-transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }
}

html, 
body,
.carousel, 
.carousel-inner, 
.carousel-inner .item, 
.carousel-control {
    min-height:300px;
}

.item:nth-child(1) {
    background: #74C390;
}

.item:nth-child(2) {
    background: #51BCE8;
}

.item:nth-child(3) {
    background: #E46653;
}
