{{ " " }}
<div class="card" data-style="{{ include.style }}">
  <a
    {% if include.link %}
      href="{{ include.link | relative_url }}"
    {% endif %}
    aria-label="{{ include.title | default: "card link" }}"
    class="card-image"
  >
    {% include neureca-image.html image=include.image alt=include.title %}
  </a>

  <div class="card-text">
    {% if include.title %}
      <a
        {% if include.link %}
          href="{{ include.link | relative_url }}"
        {% endif %}
        {% if include.tooltip %}
          data-tooltip="{{ include.tooltip }}"
        {% endif %}
        class="card-title"
      >
        {{ include.title }}
    </a>
    {% endif %}

    {% if include.subtitle %}<span class="card-subtitle">{{ include.subtitle }}</span>{% endif %}
    {% if include.description %}{{ include.description | markdownify }}{% endif %}
    {% if include.tags or include.repo %}
      <div class="tags"{% if include.repo %} data-repo="{{ include.repo }}"{% endif %} data-link="{{ page.dir | absolute_url }}">
        {% assign card_tags = include.tags | object_items | join: ',' | split: ',' | array_filter | uniq %}
        {% for tag in card_tags %}
          {% assign clean_tag = tag | strip | replace: ',', '' %}
          <a href="{{ page.dir | absolute_url }}?search=&quot;tag: {{ tag }}&quot;" class="tag">{{ clean_tag }}</a>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>
