<header
  class="site-header"
  data-dark="false"
>
  <a href="{{ "/" | relative_url }}" class="home">
    <span class="logo">
      <img src="{{ '/images/logo-lockup.svg' | relative_url }}" alt="NEURECA — Hyojin Park’s Research Group — Sound, Vision, Meaning">
    </span>
  </a>

  <input class="nav-toggle" type="checkbox" aria-label="show/hide navigation">

  <nav aria-label="Main navigation">
    {% assign current_url = page.url %}
    {% assign pages = site.pages
      | where_exp: "item", "item.nav"
      | sort: "nav.order"
    %}
    {% for nav_page in pages %}
      {% if nav_page.nav %}
        <a
          href="{{ nav_page.dir | relative_url }}"
          data-tooltip="{{ nav_page.nav.tooltip }}"
          {% if current_url == nav_page.url %}aria-current="page"{% endif %}
        >
          {{ nav_page.title | upcase }}
        </a>
      {% endif %}
    {% endfor %}
  </nav>
</header>
