{% assign clean_tag = include.tag | strip | replace: ',', '' %}
{% assign normalized_tag = clean_tag | downcase %}
{% case normalized_tag %}
  {% when 'mtbi' %}mTBI
  {% when 'fd-fnirs' %}FD-fNIRS
  {% when 'fnirs' %}fNIRS
  {% when 'opm-meg' %}OPM-MEG
  {% when 'meg' %}MEG
  {% when 'eeg' %}EEG
  {% when 'ohbm' %}OHBM
  {% when 'phd' %}PhD
  {% when 'cds' %}CDS
  {% when 'chbh seminar' %}CHBH Seminar
  {% when 'neureca' %}NEURECA
  {% when 'yia' %}YIA
  {% when 'youtube' %}YouTube
  {% when 'dti' %}DTI
  {% when 'brain state-dependent stimulation (bsds)' %}Brain State-Dependent Stimulation (BSDS)
  {% when 'short-term memory' %}Short-Term Memory
  {% else %}{% assign tag_words = clean_tag | split: ' ' %}{% for word in tag_words %}{{ word | capitalize }}{% unless forloop.last %} {% endunless %}{% endfor %}
{% endcase %}
